/* Patters */

* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #757982;
    font-weight: 400;
    text-decoration: none;
}

body {
    background-color: #FAFAFA;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.sections {
    padding: 48px 0;
    border-bottom: 1px solid #009696;
}

h1 {
    margin-bottom: 8px;
    color: #009696;
    font-weight: 500;
}

p {
    margin-bottom: 8px;
}

/* // Patters */

/* Header */

header {
    width: 100%;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #001212;
    font-size: 24px;
}

.nav-header ul {
    list-style: none;
}

.nav-link {
    color: #F2F2F2;
    padding: 8px 32px;
    border-radius: 48px;
    background-color: #001212;
    transition: .2s;
}

.nav-link:hover {
    background-color: #000707;
    transition: .2s;
}

/* // Header */

/* Title */

.title {
    padding: 192px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 48px;
}

/* // Title */

/* Content */

.content {
    padding: 48px;
    border-radius: 8px;
    margin-top: 24px;
    background-color: #eeeeee;
    display: flex;
}

/* // Content */